@{
    ViewBag.Title = "Study Material System";
}

<h2 id="headerText">ברוכים הבאים למערכת לימודית!</h2>

<div id="siteStory">
    <p>
        Tatiana Pavlov:
        tatiana.pavlov1991@gmail.com
    </p>
    <p>
        Renana Shneor:
        renanash@gmail.com
    </p>
   
</div>


