@{
    ViewBag.Title = "Study Material System";
}

<h2 id="headerText">ברוכים הבאים למערכת לימודית!</h2>

<div id="siteStory">
    <p>
        ברוכים הבאים למערכת לימודית!
    </p>
    <p>
        יצרנו את המערכת מתוך רצון לעזור לסטודנטים לקבל חומר מעודכן ואיכותי ביותר, לשתף פעולה עם סטודנטים אחרים לצורך קבלת החלטות על הרשמה לקורסים ועזרה בשיעורי בית. המערכת דואגת לכך, שהחומר שנמצא באתר יהיה עדכני ביותר שאפשר למצוא.
    </p>
    <p>
        אתם יכולים להירשם למערכת וליהנות ממגוון שירותים: קבלת מידע על קורסים, קבלת חומרי לימוד באופן מסודר וקבלת תשובות בשיעורי בית או משימות אחרות ע"י סטודנטים אחרים.
    </p>
    <p>
        בנוסף, אם אתם לא רוצים להירשם – תוכלו לקבל מידע בסיסי על כל קורס שמעניין אתכם.
    </p>
    <p>
        גלישה מהנה!


    </p>
</div>
<div id="indexMenu">
    <h4>@Html.ActionLink("הרשמה", "Register", "Account", null, null)</h4>
    <h4>@Html.ActionLink("כניסה", "Login", "Account", null, null)</h4>
</div>