@using System.Data.Entity.Core.Common.EntitySql
@using Microsoft.Ajax.Utilities
@model NewForumProject.Models.User

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    
}

<h2>Search</h2>
<input type="text" id="inputText"/>
<div class="ui segment">
    <div class="ui inverted dimmer">
        <div class="ui text loader">Loading</div>
    </div>
    <div id="SearchUsers"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inputText').on('change keyup paste mouseup', function () {
                RunAction();
            });
            RunAction();
        });
        function RunAction() {
            var action = '@Url.Action("Search", "Users")';
            var value = $('#inputText').val();
            $('.invertred,.dimmer').addClass('active');
            $.post(action, { Name: value }, function(data) {
                    $('.invertred,.dimmer').removeClass('active');
                $("#SearchUsers").html(data);
            });
        }
    </script>
    @section scripts{
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    }
